##
## Web content templates are used to lay out the fields defined in a
## web content structure.
##
## Please use the left panel to quickly add commonly used variables.
## Autocomplete is also available and can be invoked by typing "$".
##


####VARIABLES

######Title Notes
#set ($publicationPublishDate_Data = $getterUtil.getLong($publicationPublishDate.getData()))

########Set title, subtitle notes

#set ($titleNoteRef = "")
#set ($titleNoteText = "")
#set ($subtitleNoteRef = "")
#set ($subtitleNoteText = "")

##first check if they exist

##if($validator.isNotNull($publicationTitleNote.getData()) && $validator.isNotNull($publicationSubtitleNote.getData()))

##then check if they're empty
######for articles that include both
#if($validator.isNotNull($publicationTitleNote.getData()) && $validator.isNotNull($publicationSubtitleNote.getData()))##
    #set ($titleNoteRef = '<sup><a id="endnote-title-note-backlink" class="_idEndnoteLink _idGenColorInherit" href="#endnote-title-note">1</a></sup>')
    #set ($titleNoteText = '<div class="title-note-container"><span id="endnote-title-note"><a class="_idEndnoteAnchor _idGenColorInherit" href="#endnote-title-note-backlink">1</a> </span>' + $publicationTitleNote.getData() + '</div>')
    #set ($subtitleNoteRef = '<sup><a id="endnote-subtitle-note-backlink" class="_idEndnoteLink _idGenColorInherit" href="#endnote-subtitle-note">2</a></sup>')
    #set ($subtitleNoteText = '<div class="title-note-container"><span id="endnote-subtitle-note"><a class="_idEndnoteAnchor _idGenColorInherit" href="#endnote-subtitle-note-backlink">2</a> </span>' + $publicationSubtitleNote.getData() + '</div>')
#end



######for articles that only include title note
#if($validator.isNotNull($publicationTitleNote.getData()) && $validator.isNull($publicationSubtitleNote.getData()))##
    #set ($titleNoteRef = '<sup><a id="endnote-title-note-backlink" class="_idEndnoteLink _idGenColorInherit" href="#endnote-title-note">1</a></sup>')
    #set ($titleNoteText = '<div class="title-note-container"><span id="endnote-title-note"><a class="_idEndnoteAnchor _idGenColorInherit" href="#endnote-title-note-backlink">1</a> </span>' + $publicationTitleNote.getData() + '</div>')

    #set ($subtitleNoteRef = '')
    #set ($subtitleNoteText = '')
#end




######for articles that only include subtitle note
#if($validator.isNull($publicationTitleNote.getData()) && $validator.isNotNull($publicationSubtitleNote.getData()))##
    #set ($titleNoteRef = '')
    #set ($titleNoteText = '')
    #set ($subtitleNoteRef = '<sup><a id="endnote-subtitle-note-backlink" class="_idEndnoteLink _idGenColorInherit" href="#endnote-subtitle-note">1</a></sup>')
    #set ($subtitleNoteText = '<div class="title-note-container"><span id="endnote-subtitle-note"><a class="_idEndnoteAnchor _idGenColorInherit" href="#endnote-subtitle-note-backlink">1</a> </span>' + $publicationSubtitleNote.getData() + '</div>')
#end



##end






######Article Title

#set($articleTitle = $reserved-article-title.getData() + $titleNoteRef)


#if ($validator.isNotNull($publicationSubtitle.getData()))
    #set($articleTitle = $articleTitle + ": </br>" + $publicationSubtitle.getData() + $subtitleNoteRef)
#end


######Publication Year
#set ($publicationPublishDate_Data = $getterUtil.getString($publicationPublishDate.getData()))

#if ($validator.isNotNull($publicationPublishDate_Data))
	#set ($publicationPublishDate_DateObj = $dateUtil.parseDate("yyyy-MM-dd",$publicationPublishDate_Data, $locale))

	#set($year = $dateUtil.getDate($publicationPublishDate_DateObj, "yyyy", $locale))

#end

######Volume

#set($volumeString = "")
#if ($validator.isNotNull($publicationVolume.getData()))
    #set($volumeString = "Volume " + $publicationVolume.getData())
#end

######Issue
#set($issueString = "")
#if ($validator.isNotNull($publicationIssue.getData()))
    #set($issueString = "Issue " + $publicationIssue.getData() )
#end

######Author Bylines and notes

#if (!$publicationAuthors.getSiblings().isEmpty())
    #set ($separator = ",")
    #set ($bioNotRefCharacter = "*")
    #set ($bioNotRef = $bioNotRefCharacter)

    #set ($authorString = "")

	#foreach ($cur_publicationAuthors in $publicationAuthors.getSiblings())     ##Add author name to string
		#set($authorString = $authorString + " " + $cur_publicationAuthors.getData())

		##If there are more than 3 authors, add the separator
		#if($publicationAuthors.getSiblings().size()>=3 && $velocityCount!=$publicationAuthors.getSiblings().size())
		    #set($authorString = $authorString + $separator)
        #end

        ##If there's an author bio, link to it
        #if($validator.isNotNull($cur_publicationAuthors.AuthorBioNote.getData()))

            #set($authorString = $authorString + "<span id='article-author-" + $velocityCount + "'><sup><a href='#article-author-bio-" + $velocityCount + "'>[" + $bioNotRef + "]</a></sup></span>")
        #set ($bioNotRef = $bioNotRef + $bioNotRefCharacter)
        #end

        ##if there are more than two authors, add "and"
        #if ($publicationAuthors.getSiblings().size()>1 && $velocityCount==$publicationAuthors.getSiblings().size() - 1)
            #set($authorString = $authorString + " and ")
        #end

	#end

    ##author notes
    #set ($bioNotRef = $bioNotRefCharacter)

    #set ($authorNotesString = "")

    #foreach ($cur_publicationAuthors in $publicationAuthors.getSiblings())

        #if ($validator.isNotNull($cur_publicationAuthors.AuthorBioNote.getData()))

            #set ($authorNotesString = $authorNotesString + "<p id='article-author-bio-" + $velocityCount + "'><sup><a href='#article-author-" + $velocityCount + "'>[" + $bioNotRef + "]</a></sup>" + $cur_publicationAuthors.AuthorBioNote.getData() + "</p>")

            #set($bioNotRef = $bioNotRef + $bioNotRefCharacter)


        #end


    #end

#end






####END VARIABLES

<style>
.journal-content-article .article--title {
	color:#000666;
	font-family:"Adobe Caslon Pro", serif;
	font-size:20pt;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height: 125%;
	margin-bottom:3rem;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}

.journal-content-article .article--title sup{
    font-size:14px;
}

.journal-content-article .article--volume-info{
    font-size: 16pt;
    font-family: Adobe Caslon Pro,Times New Roman;
    line-height: 150%;
    text-align: center;
    margin-bottom:3rem;
}

.journal-content-article .article--byline {
	color:#000000;
	font-family:"Times New Roman", serif;
	font-size:14pt;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	margin-bottom:1rem;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}

.journal-content-article  .title-note-container p:first-of-type{
    display:inline;
}

.journal-content-article a{
    color:blue;
}

.journal-content-article footer{
    font-size:14px;
}

.journal-content-article footer hr{
margin-top:2rem;
}

.journal-content-article ._idEndnoteAnchor,
.journal-content-article ._idEndnoteLink{
color: blue !important;
}
</style>



<article>
<header>

<h1 class="article--title">$articleTitle</h1>

<p class="article--volume-info">$volumeString $issueString $year</p>

<p class="article--byline">$authorString</p>


</header>

<div class="article--body">$publicationContent.getData()</div>

<footer class="article--footer">
<hr/>
####Insert author notes
$authorNotesString


####Insert title notes
$titleNoteText
$subtitleNoteText




<div>


#if ($validator.isNotNull($publicationEndNotes.getData()))
	$publicationEndNotes.getData()
#end


</div>

</footer>

</article>
